.skeleton {
  background-color: var(--color-neutral-200);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0)
  );
  background-size: 200px 100%;
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 1;
  position: relative;
  overflow: hidden;
  animation: shimmer 1.5s ease-in-out infinite;
}

.text {
  height: 1em;
  width: 100%;
  border-radius: var(--radius-sm);
}

.rect {
  width: 100%;
  height: 100%;
  border-radius: var(--radius-md);
}

.circle {
  width: 100%;
  height: 100%;
  border-radius: var(--radius-full);
}

@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}
